Django<1.12
django-confy==1.0.4
django-ipware==1.1.6
social-auth-app-django==1.2.0
social-auth-core==1.4.0
# fork of Microsoft Azure AD auth library with password authentication fix
git+https://github.com/scottp-dpaw/azure-activedirectory-library-for-python.git@passwordauth#egg=adal
psycopg2==2.6.2
coverage==4.2
coveralls==1.1
mock==2.0.0
gevent==1.1.2
