{% load i18n admin_urls %}
{% load auth2 %}

{% block object-tools-items %}
  {% if cl.extra_tools %}
  {% for name,urlname,target in cl.extra_tools %}
  <li>
    {% url cl.opts|admin_urlname:urlname as tool_url %}
    {% can_access  tool_url as has_permission %}
    {% if has_permission %}
    <a href="{{tool_url}}"  target="{{target}}">
      {{ name }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
  {% endif %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  {% endif %}
{% endblock %}
