{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ media.css }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_name }}</a>
&rsaquo; Renew Apple Secretkey
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}
  <h1>Renew Apple Secret Key</h1>
  <div id="content-main">
    <form method="post"  id="renew_secretkey" class="localAccount" >
    <div>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_teamid">Team ID:</label>
                <input type="text" title="Please enter the teamid" id="id_teamid" name="teamid" placeholder="" value="{{teamid}}" aria-label="Team ID" required class="vTextField" readonly>
            </div>
        </div>
      </fieldset>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_clientid">Client ID:</label>
                <input type="text" title="Please enter the clientid" id="id_clientid" name="clientid" placeholder="" value="{{clientid}}" aria-label="Client ID" required class="vTextField" readonly>
            </div>
        </div>
      </fieldset>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_expiredays">Expire Days:</label>
                <input type="number" title="Please enter the expire days" id="id_expiredays" name="expiredays" placeholder="" value="{{expiredays}}" aria-label="Expire Days" required min=1 max=180 readonly> 
            </div>
        </div>
      </fieldset>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_keyid">Key ID:</label>
                <input type="text" title="Please enter the key id" id="id_keyid" name="keyid" placeholder="" value="{{keyid}}" aria-label="Key ID" required class="vTextField" readonly>
            </div>
        </div>
      </fieldset>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_keyid">Secret Key:</label>
                <input type="text" id="id_secretkey" name="secretkey" placeholder="" value="{{secretkey}}" aria-label="Secret Key" required class="vTextField" readonly style="width:80%">
                <i class="fa fa-copy" style="font-size:18px;cursor:pointer" onclick="navigator.clipboard.writeText(document.getElementById('id_secretkey').value)"></i>
            </div>
        </div>
    </div>
      <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_keyid">Secret Key Expire At</label>
                <input type="text" id="id_secretkey_expireat" name="secretkey_expireat" placeholder="" value="{{secretkey_expireat}}" aria-label="Secret Key Expire At" required class="vTextField" readonly >
                <i class="fa fa-copy" style="font-size:18px;cursor:pointer" onclick="navigator.clipboard.writeText(document.getElementById('id_secretkey_expireat').value)"></i>
            </div>
        </div>
    </div>
    </form>

  </div>
{% endblock %}
