{% extends "authome/self_asserted.html" %}
{% load i18n static %}
{% block extra_js %}
    var totpUrl = null
    var parameters = {}
    var accountName = null
    function copy(elementId) { 
        e = document.getElementById(elementId);
        try {
            e.select()
            e.setSelectionRange(0,99999)
        } catch(ex) {
        }
        navigator.clipboard.writeText(e.value);
    } 

    $(document).ready(function () { 
       qrcodeElement = $("#totpQRCodeBitmap")
       data = qrcodeElement.val()
       if (data.startsWith("otpauth://totp/")) {
           i = data.indexOf(" ")
           qrcode = data.substring(i + 1)
           totpUrl = data.substring(0,i)
           i = totpUrl.indexOf("?")
           if (i >=0 ) {
               accountName = totpUrl.substring("otpauth://totp/".length,i)
               $.each(totpUrl.substring(i+1).split("&"),function(index,data){
                   data = data.trim()
                   if (!data) {
                       return
                   }
                   p = data.indexOf("=")
                   if (p == 0) {
                       return
                   } else if(p > 0) {
                       parameters[data.substring(0,p)] = data.substring(p+1)
                   } else {
                       parameters[data] = ""
                   }
               })

           }
        } else {
            qrcode = data
        }

       $( "<img src='" + qrcode + "' style='width:300px;height:300px' id='qrcode'/>" ).insertAfter( qrcodeElement);
       if (totpUrl) {
           $( "<input type='hidden' value='" + accountName + "' id='accountName'/>" ).insertAfter( qrcodeElement);
           $( "<input type='hidden' value='" + parameters["secret"] + "' id='totpSecret'/>" ).insertAfter( qrcodeElement);

           $( "<div style='text-align:left;white-space:pre-wrap'><div style='margin-bottom:5px'>Can't scan image? Enter the following into your app:</div><div style='font-weight:bold;width:150px;text-align:right;display:inline'>Account Name : </div>" + accountName + "<img src='https://{{domain}}{% static "images/copy.svg" %}' onclick='copy(\"accountName\")' style='width:24px;height:24px;padding-left:5px;cursor: pointer;'><br><div style='font-weight:bold;width:150px;text-align:right;display:inline'>Secret Key : </div><button type='button' class='btn btn-primary' onclick='copy(\"totpSecret\")' style='margin-left:10px;padding-top:3px;padding-bottom:3px'>Copy Secret</button>" ).insertAfter($("#qrcode"));
       }
       qrcodeElement.remove()
    });
{% endblock extra_js %}

