<!DOCTYPE html>
<html lang="en-US"><head>
    
    <title>{% block title %}{{title}}{% endblock title%}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/sso/static/admin/js/vendor/jquery/jquery.min.js"></script>
    {% include "authome/inc/unifiedcss.html"%}
    {{extracss | safe}}
    {% block extrapagecss %}
    {% endblock extrapagecss %}
    {% block extrajs %}
    {% endblock extrajs %}
</head>
<body>
    {{body | safe}}
    <div id="real_content_div" style="display:none;text-align:left">
    {% block realcontent %}
    {% endblock realcontent %}
    </div>
    
    <script>
        $("#real_content_div").children().detach().appendTo('#api')
        $("#real_content_div").show()
    </script>
</body>
</html>
    

