<!DOCTYPE html>
<html lang="en-US"><head>
    
    <title>{% block title %}{{title}}{% endblock title%}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/sso/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <style>
        .buttons button:disabled,
        .buttons button[disabled] {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
    </style>
    <script type="text/javascript">
        var submitted = false
        function submitonce() {
            if (submitted) {
                return false
            } else {
                submitted = true
                return true
            }
        }

        function enableButton(button,button_text,enabletime,enabled) {
            if (enabletime > 0) {
                setTimeout(function () {
                    enabletime -= 1
                    if (enabletime > 0) {
                        button.text(button_text + " " + enabletime);
                        enableButton(button,button_text,enabletime,enabled);
                    } else {
                        button.prop("disabled",!enabled);
                        button.text(button_text);
                    }
                }, 1000);
            } else {
                button.prop("disabled",!enabled);
                button.text(button_text);
            }
        }
    </script>
    {% include "authome/inc/idp_icons.html"%}
    {% include "authome/inc/self_assertedcss.html"%}
    {{extracss | safe}}
    {% block extrapagecss %}
    {% endblock extrapagecss %}
    {% block extrajs %}
    {% endblock extrajs %}
</head>
<body>
    {{body | safe}}
    <div id="real_content_div" style="display:none;text-align:left">
    {% block realcontent %}
    {% endblock realcontent %}
    </div>
    
    <script>
        $("#real_content_div").children().detach().appendTo('#api')
        $("#real_content_div").show()
    </script>
</body>
</html>
    

