{% extends "authome/default.html" %}
{% load i18n static %}

{% block extrapagecss %}
<style>
.self_asserted_container .col-lg-6 {
    max-width:800px;
    width:auto;
    text-align:left;
}
.self_asserted_container .row .panel-default .panel-body {
    max-width:none;
}
pre {
    border:none;
    background-color:white;
}
</style>
{% endblock extrapagecss %}

{% block realcontent %}
<pre id="message" style="line-height:30px;font-size:20px;text-align:left;white-space: break-spaces;">{{message}}</pre>
{% endblock realcontent %}
