{% extends "authome/default.html" %}
{% load i18n static %}

{% block title %}Sign in with email address{% endblock title %}

{% block extrapagecss %}
<link rel="stylesheet" type="text/css" href="/sso/static/css/message.css">
{% endblock extrapagecss %}

{% block extrajs %}
{% endblock extrajs %}

{% block realcontent %}
<form method="post" action="{% url 'auth_local' %}" id="attributeVerification" class="localAccount" onsubmit="return submitonce();">
{% csrf_token %}
<input type="hidden" id="id_next" name="next" value="{{next}}">
<input type="hidden" id="id_codeid" name="codeid" value="{{codeid}}">
<div >
    <div style="color:black;font-weight:bold;font-size:medium;text-align:left;margin-top:10px;margin-bottom:10px;white-space:pre-wrap">Sign in to your Department of Biodiversity, Conservation and Attractions account. Enter your email address and we’ll send you a verification code.</div>
</div>
{% include "authome/inc/messages.html"%}
<div id="attributeList" class="attr">
  <ul>
   <li>
    <input type="email" title="Please enter a valid email address." id="id_email" name="email" pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Email Address" value="{{email}}" aria-label="Email Address" required>
   </li>
  </ul>
</div>
<div class="buttons" >
   <button id="id_defaultaction" type="submit" name="action" value="sendcode" form="attributeVerification" >Send Verification Code</button>
   <button id="cancel" aria-label="Cancel" formnovalidate="" name="action" value="cancel" form="attributeVerification">Cancel</button>
</div>
</form>
{% endblock realcontent %}
