{% extends "authome/default.html" %}
{% load i18n static %}

{% block title %}Verify email address {% endblock title %}

{% block extrapagecss %}
<link rel="stylesheet" type="text/css" href="/sso/static/css/message.css">
{% endblock extrapagecss %}

{% block realcontent %}

<form method="post" action="{% url 'auth_local' %}" id="attributeVerification" class="localAccount">
{% csrf_token %}
<input type="hidden" id="id_next" name="next" value="{{next}}">
<input type="hidden" id="id_codeid" name="codeid" value="{{codeid}}">
<input type="hidden" id="id_newcodeid" name="newcodeid" value="{{newcodeid}}">
<div >
    <div style="color:black;font-weight:bold;font-size:medium;text-align:left;margin-top:10px;white-space:pre-wrap">To sign in with email, please enter the verification code sent to your email address.</div>
</div>
{% include "authome/inc/messages.html"%}
<div id="attributeList" class="attr">
  <ul>
   <li>
       <label id="email_label" for="email">Email Address</label>
       <input type="email" title="Please enter a valid email address." id="id_email" name="email" value="{{email}}" aria-label="Email Address" readonly style="width:300px !important;border:none;font-weight:bold;padding-left:0px">
   </li>
   <li>
       <input type="text" title="Please input the verification code" id="id_code" name="code" placeholder="Verification Code" value="{{code}}" aria-label="Verification Code" >
   </li>
  </ul>
</div>
<div class="buttons"> 
   <div style="display:inline;">
     <button id="id_defaultaction" type="submit" name="action" value="verifycode" form="attributeVerification" style="width:150px">Verify code</button>
     <button id="id_resendcode" type="submit" name="action" value="resendcode" form="attributeVerification"  style="width:150px" >Send new code</button>
  </div>
   <button id="id_changeemail" type="submit" name="action" value="changeemail" form="attributeVerification"  style="width:305px;">Change your email</button>
   <button id="cancel" aria-label="Cancel" formnovalidate="" name="action" value="cancel" form="attributeVerification">Cancel</button>
 </div>
</form>
{% endblock realcontent %}
