{% extends "authome/default.html" %}
{% load i18n static %}

{% block title %}Verify email address {% endblock title %}

{% block extrapagecss %}
<link rel="stylesheet" type="text/css" href="/sso/static/css/message.css">
<style>
    button {  
      background-image: none;
      background-color: #296ec6;
      border: none;
      border-radius: .5rem;
      cursor: pointer;
      font-size: 1em;
      font-weight: 400;
      height: inherit;
      line-height: 1.3333333;
      margin-top: 1rem;
      margin-right: 0;
      margin-bottom: 1.2rem;
      margin-left: 0;
      padding: 10px 5px;
      text-align: center;
      touch-action: manipulation;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      width: inherit;
      -moz-user-select: none;
      -ms-touch-action: manipulation;
      -ms-user-select: none;
      -webkit-user-select: none;
      color: #fff;
      box-shadow: 0 0 30px 0 #dae1f7;
    }
</style>
{% endblock extrapagecss %}

{% block realcontent %}
{% include "authome/inc/messages.html"%}

<form method="post" action="{% url 'auth_local' %}" id="signinform" class="localAccount">
{% csrf_token %}
<input type="hidden" id="id_next" name="next" value="{{next}}">
<input type="hidden" id="id_codeid" name="codeid" value="{{codeid}}">
<input type="hidden" id="id_newcodeid" name="newcodeid" value="{{newcodeid}}">
<div class="intro">
   <h2>
    Verify your email
   </h2>
</div>
<div class="entry">
   <div class="entry-item">
     <div style="display:inline">
       <input type="email" title="Please enter a valid email address." id="id_email" name="email" value="{{email}}" aria-label="Email Address" readonly style="width:300px !important;border:none;font-weight:bold;padding-left:0px">
       <button id="id_changeemail" type="submit" name="action" value="changeemail" form="signinform"  style="width:60px">Change</button>
     </div>
   </div>
   <div class="entry-item">
     <div style="display:inline">
       <input type="text" title="Please input the verification code" id="id_code" name="code" placeholder="Verification Code" value="" aria-label="Verification Code"  style="width:238px !important">
       <button id="id_defaultaction" type="submit" name="action" value="verifycode" form="signinform" style="width:60px">Verify</button>
       <button id="id_resendcode" type="submit" name="action" value="resendcode" form="signinform"  style="width:60px">Resend</button>
     </div>
   </div>
</div>
</form>
{% endblock realcontent %}
